{{ define "content" }}
<h1>Register</h1>

<form action="/users/register" method="POST">
  <div class="field">
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      name="email"
      value="{{ .Params.Email }}"
      autocomplete="email"
      autofocus
    />
  </div>

  <div class="field">
    <label for="displayName">Display name:</label>
    <input
      id="displayName"
      type="text"
      name="displayName"
      value="{{ .Params.DisplayName }}"
      autocomplete="name"
    />
  </div>

  <div class="field">
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      name="password"
      autocomplete="new-password"
    />
  </div>

  <div class="field">
    <label for="passwordConfirmation">Confirm password:</label>
    <input
      id="passwordConfirmation"
      type="password"
      name="passwordConfirmation"
      autocomplete="new-password"
    />
  </div>

  <div>
    <button type="submit" class="button">Submit</button>
  </div>

  <p>Already have an account? <a href="/sign-in">Sign in</a></p>
</form>
{{ end }}
