{{ define "content" }}
<div class="layout unauthenticated">
  <form action="/users/register" method="POST" class="card">
    <header>
      <h1>Register</h1>
    </header>

    {{ $err := .Errors.FieldOne "Email" }}
    <div class="field {{ if $err }}has-error{{ end }}">
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        name="email"
        value="{{ .Params.Email }}"
        autocomplete="email"
        autofocus
      />
      {{ if $err }}
      <p class="error-explanation">{{ $err }}</p>
      {{ end }}
    </div>

    {{ $err := .Errors.FieldOne "DisplayName" }}
    <div class="field {{ if $err }}has-error{{ end }}">
      <label for="displayName">Display name:</label>
      <input
        id="displayName"
        type="text"
        name="displayName"
        value="{{ .Params.DisplayName }}"
        autocomplete="name"
      />
      {{ if $err }}
      <p class="error-explanation">{{ $err }}</p>
      {{ end }}
    </div>

    {{ $err := .Errors.FieldOne "Password" }}
    <div class="field {{ if $err }}has-error{{ end }}">
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        name="password"
        autocomplete="new-password"
      />
      {{ if $err }}
      <p class="error-explanation">{{ $err }}</p>
      {{ end }}
    </div>

    {{ $err := .Errors.FieldOne "PasswordConfirmation" }}
    <div class="field {{ if $err }}has-error{{ end }}">
      <label for="passwordConfirmation">Confirm password:</label>
      <input
        id="passwordConfirmation"
        type="password"
        name="passwordConfirmation"
        autocomplete="new-password"
      />
      {{ if $err }}
      <p class="error-explanation">{{ $err }}</p>
      {{ end }}
    </div>

    <div>
      <button type="submit" class="button is-fullwidth is-primary">
        Submit
      </button>
    </div>

    <footer>
      <p>Already have an account? <a href="/sign-in">Sign in</a></p>
    </footer>
  </form>
</div>
{{ end }}
