$blue-50: #e3f2fd;
$blue-900: #0d47a1;
$indigo-900: #1a237e;

$lime-50: #f7fee7;
$lime-100: #ecfccb;

$green-50: #f0fdf4;
$green-100: #dcfce7;
$green-900: #14532d;

$red-900: #7f1d1d;
$red-100: #fee2e2;
$red-200: #fecaca;

$red: #dc2626;
$danger: $red;

$body-bg: $green-50;
$primary: $green-900;
$primary-text: desaturate($primary, 20%);
