$green-50: #f0fdf4;
$green-100: #dcfce7;
$green-900: #14532d;

$blue-50: #f0f9ff;
$blue-100: #dbeafe;
$blue-600: #2563eb;
$blue-900: #1e3a8a;

$red-100: #fee2e2;
$red-200: #fecaca;
$red-600: #dc2626;
$red-900: #7f1d1d;

$sky-800: #075985;

$danger: $red-600;

$body-bg: $green-50;
$primary: $green-900;
$primary-darker: desaturate($primary, 20%);

$family-sans: Inter, Arial, Helvetica, sans-serif;

$sidebar-width: 19rem;
$sidebar-item-height: 2.5rem;

$sidebar-base-padding: 1.25rem;
