*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: $family-sans;
}

body {
  background: $body-bg;
  color: #000;
}

h1,
h2 {
  color: $primary-darker;
}

a,
a:visited {
  color: $primary;
}

.layout.unauthenticated {
  display: grid;
  place-items: center;
  height: 100vh;

  p:not([class]) {
    margin: 0;
  }

  footer,
  header {
    text-align: center;
  }

  header {
    margin-bottom: 0.75rem;
  }

  footer {
    margin-top: 1.75rem;
  }
}

.card {
  padding: 1.5rem;
  border: 1px solid $primary-darker;
  box-shadow: 0 0 10px transparentize($primary, 0.8);
  border-radius: 5px;
  background: white;

  h1,
  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.field {
  margin-bottom: 0.75rem;
  min-width: 350px;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: $primary-darker;
  }

  input {
    width: 100%;
  }

  &.has-error {
    label {
      color: $danger;
    }

    input {
      border-color: $danger;

      &:focus {
        outline-color: $danger;
      }
    }
  }
}

.error-explanation {
  margin-top: 0.25rem;
  color: $danger;

  &:empty {
    display: none;
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #666;
  height: 40px;
  border-radius: 3px;
  font: inherit;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.button {
  height: 40px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  background: white;
  text-decoration: none;
  background: $sky-800;

  &,
  &:link,
  &:visited {
    color: #fff;
  }
}

.button.is-primary {
  color: #fff;
  background: $primary;
  margin-top: 0.5rem;
}

.button.is-fullwidth {
  width: 100%;
}

.notification {
  display: block;
  padding: 1em;
  border: 1px solid $primary;
  border-radius: 5px;
  margin-bottom: 1rem;

  &.error {
    border-color: $danger;
    background: $red-100;
    color: $red-900;
  }

  &.info {
    border-color: $blue-600;
    background: $blue-100;
    color: $blue-900;
  }
}
