<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ if (and . .Title) }}{{ .Title }} | {{ end }}Academy</title>
    <script type="module" src="http://localhost:4000/src/main.ts"></script>
  </head>
  <body>
    {{ template "content" . }}
  </body>
</html>
